Source: eegview
Section: science
Priority: extra
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@epfl.ch>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, libc-dev | libc6-dev,
 libmcpanel0-dev, libeegdev0-dev, libxdffileio0-dev
Standards-Version: 3.8.3
Homepage: http://cnbisrv02.epfl.ch

Package: eegview
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: http://cnbisrv02.epfl.ch
Description: Software to display EEG data in realtime
 This software allows to display EEG signal in realtime as well as record
 them. It is the minimal recording panel needed to do simple experiment.

